body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:  rgb(242, 243, 174);
}

h1 {
    color: rgb(244, 68, 46);
    font-size: 48px;
}

#playscreen{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
    
    

}

#option{
    background-color: rgb(237, 211, 130);
    text-align: center;
    border-radius: 8px;
    border: 1px solid rgb(2, 1, 34);
    height: 20px;
    color: rgb(2, 1, 34);
}

#option::placeholder{
    color:rgb(242, 243, 174);
    
}

#rock, #paper, #scissors{
    font-size: 85px;
    border: 4px solid rgb(2, 1, 34);
    border-radius: 10px;
    background-color:rgb(252, 158, 79);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
    
}

#options{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.choices{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 0 30px;
    gap:100px;
}

.player-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.player-choice h1{
    margin: 10px 0;
}

@media screen and (max-width: 430px) and (-webkit-min-device-pixel-ratio: 3) {
    h1 {
        font-size: 30px;
    }

    #rock, #paper, #scissors{
        font-size: 60px;
        width: 90px;
        height: 90px;
        padding: 2px;
    }

    #options{
        gap: 10px;
    }

    .choices{
        margin: 10px 0;
    }

    .choices h1{
        font-size: 45px;
    }

}




